.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.overflow-x-auto {
  overflow-x: auto; /* Enable horizontal overflow */
  scrollbar-width: thin; /* For Firefox */
}

.overflow-x-auto::-webkit-scrollbar {
  height: 8px; /* Height of the scrollbar */
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}